@charset "UTF-8";

//@font-face {
//  font-family:Noto;
//  src:url(../font/NotoSansCJKkr-Regular.eot),
//  url(../font/NotoSansCJKkr-Regular.woff)
//}

/* @font-face {
  font-family:NotoThin;
  src:url(../../font/NotoSansKR-Thin.eot),
} */

body,
html {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  background: url("../images/hk-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  zoom: 1;
  font-size: 10px;
  box-sizing: border-box;
}

* {
  font-family: 'Noto Sans KR', 'Noto', 'Nanum Barun Gothic', 'Malgun Gothic', 'Noto Sans', 'sans-serif', 'Apple SD Neo Gothic', 'Raleway';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  letter-spacing: -0.08rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #ffffff;
  //transition-property: all;
  //transition-duration: .6s;
  //transition-timing-function: ease;
}

h1,
h2,
h3,
h4,
h5,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  /* width: auto; */
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

a:active,
a:visited {
  color: #ffffff;
}

a:focus,
button:focus,
input:focus,
label:focus,
select:focus,
textarea:focus {
  outline: none;
}

label,
button,
select {
  cursor: pointer;
}

dd,
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

button,
input,
fieldset {
  padding: 0;
  border: 0;
}

input[type=email],
input[type=password],
input[type=text],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  font-size: initial;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
}

input {
  display: none;
}

*:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #999999;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999999;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #999999;
  opacity: 1;
}

::placeholder {
  color: #999999;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999999;
}

::-ms-input-placeholder {
  color: #999999;
}

/**********
  Layout
***********/

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
  transition: all 350ms;
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: .1rem solid #efebef;
}

header.main {
  border-bottom: 0;
  background: transparent;
  &:hover,
  &.scrolled  {
    background: #ffffff;
    border-bottom: .1rem solid #efebef;
    transition: border-color 0s ease;
  	a {
      color: #333333 !important;
    }
    .navbar-nav .user {
      color: #333333 !important;
    }
    .navbar-brand {
      padding: 0 8.7rem;
      text-indent: -9999rem;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

main {
  display: block;
  padding: 8rem 0 0 0;
  width: 100%;
  height: 100vh;
  min-width: 32rem;
}

main .content {
  padding: 0 0;
  &.main {
    margin-top: 63.5rem;
  }
  &.sub {
    margin-top: 43.5rem;
  }
}

footer {
  z-index: auto;
  position: relative;
  width: 100%;
  padding: 2.5rem 2.5rem 0 2.5rem;
  bottom: 0;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #666666;
  border-top: .1rem solid #efebef;
  margin-bottom: 3rem;
  background: #000000;
  .inner {
    max-width: 112rem;
    margin: 0 auto;
    position: relative;
  }
  span.sep {
    color: #efebef;
    display: inline-block;
    padding: 0 .2rem;
    font-size: 1rem;
    font-weight: 600;
  }
  button.logo {
    width: 10rem;
    height: 4rem;
    white-space: nowrap;
    cursor: pointer;
  }
  .nav-footer {
    display: flex;
    word-break: keep-all;
    overflow: hidden;
    margin: 1.4rem 0;
    li {
      float: left;
      padding-right: 2rem;
    }
    li a {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
  .address,
  .info {
    padding: .2rem 0;
    font-size: 1.3rem;
  }
  .copy {
    font-size: 1.2rem;
    padding-top: 1rem;
  }
  .related {
    float: right;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 17rem;
    border: .1rem solid #efebef;
    font-size: 1.3rem;
    cursor: pointer;
    background: #ffffff;
    span {
      display: block;
      padding: 1rem 2rem;
      width: 100%;
    }
    span:hover ~ ul,
    ul:hover {
      display: block;
    }
    ul {
      position: absolute;
      background: #f9f9f9;
      top: -9.1rem;
      left: -.1rem;
      width: 17rem;
      border: .1rem solid #efebef;
      display: none;
      li {
        padding: .5rem 2rem;
        border-bottom: .1rem solid #efebef;
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
}

@media (max-width: 1080px) {
  footer {
    .related {
      position: relative;
      top: unset;
      right: unset;
      width: 100%;
      margin: 1rem 0;
      display: block;
      span {
        display: block;
        padding: 10remx 2rem;
        width: 100%;
      }
      span:hover ~ ul,
      ul:hover {
        display: block;
      }
      ul {
        position: absolute;
        background: #f9f9f9;
        top: -9.1rem;
        left: -.1rem;
        width: calc(100% + .2rem);
        border: .1rem solid #efebef;
        display: none;
        li {
          padding: .5rem 2rem;
          border-bottom: .1rem solid #efebef;
        }
        li:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body,
  html {
    font-size: 12px !important;
  }
}

@media (max-width: 600px) {
  body,
  html {
    font-size: 9px !important;
  }
}

@media (max-width: 375px) {
  body,
  html {
    font-size: 7px !important;
  }
}

@media (max-width: 320px) {
  body,
  html {
    font-size: 6px !important;
  }
}
