header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  font-size: 2.5rem;
  background: rgba(#000000, .6);
  color: white;
  backdrop-filter: blur(5px);
  z-index: 98;
  > div {
    //width: 20rem;
    height: 100%;
    margin: 0 2.5rem;
  }
  .h-left-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h-right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .icon-menu {
      display: block;
      width: 5rem;
      height: 5rem;
      background: url("../images/icon-gnb-white.png");
      background-size: 4rem;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}