.icon-java {
  display: block;
  width: 2rem;
  height: 2rem;
  background: #ffffff url("../../assets/images/java-image.png");
  background-size: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-js {
  display: block;
  width: 2rem;
  height: 2rem;
  background: #ffffff url("../../assets/images/js-image.png");
  background-size: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-python {
  display: block;
  width: 2rem;
  height: 2rem;
  background: #ffffff url("../../assets/images/python-image.png");
  background-size: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-c {
  display: block;
  width: 2rem;
  height: 2rem;
  background: #ffffff url("../../assets/images/c-image.png");
  background-size: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-skript {
  display: block;
  width: 2rem;
  height: 2rem;
  background: #ffffff url("../../assets/images/sk-image.png");
  background-size: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-magicspells {
  display: block;
  width: 2rem;
  height: 2rem;
  background: #ffffff url("../../assets/images/magicspells-image.jpeg");
  background-size: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-skillapi {
  display: block;
  width: 2rem;
  height: 2rem;
  background: #ffffff url("../../assets/images/skillapi-image.png");
  background-size: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
}